name: Elixir CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-20.04
    name: Build and Test on Elixir ${{matrix.environment.elixir-version}} / OTP ${{matrix.environment.otp-version}}
    strategy:
      matrix:
        environment:
          - elixir-version: 1.14
            otp-version: 25.0.4
          - elixir-version: 1.13
            otp-version: 24.3.4
          - elixir-version: 1.12
            otp-version: 23.3.4
          - elixir-version: 1.11
            otp-version: 23.3.4
          - elixir-version: '1.10'
            otp-version: 22.3.4
          - elixir-version: '1.10'
            otp-version: 22.3.4
          - elixir-version: 1.9
            otp-version: 22.3.4
          - elixir-version: 1.8
            otp-version: 21.3.8
          - elixir-version: 1.7
            otp-version: 21.3.8
          - elixir-version: 1.6
            otp-version: 21.3.8
          - elixir-version: 1.5
            otp-version: 21.3.8
    steps:
    - uses: actions/checkout@v3
    - name: Set up Elixir
      uses: erlef/setup-beam@988e02bfe678367a02564f65ca2e37726dc0268f
      with: ${{matrix.environment}}
    - name: Restore dependencies cache
      uses: actions/cache@v3
      with:
        path: deps/
        key: deps-${{ runner.os }}-${{ matrix.environment.otp-version }}-${{ matrix.environment.elixir-version }}-${{ hashFiles('**/mix.lock') }}
    - name: Restore build cache
      uses: actions/cache@v3
      with:
        path: _build/test/
        key: build-${{ runner.os }}-${{ matrix.environment.otp-version }}-${{ matrix.environment.elixir-version }}-${{ hashFiles('**/mix.lock') }}
    - name: Install dependencies
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get
        mix compile
    - name: Run tests with coverage
      run: mix coveralls.github
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MIX_ENV: test
